name: masscan_ip_scan

on: [push]

jobs:
  install-tools:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Masscan
      run: |
        git clone https://github.com/blechschmidt/massdns.git
        cd massdns
        make

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.21

#    - name: Install httpx
#      run: |
#        go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest

    - name: executing masscan
      run: |
        cd masscan/bin
        masscan -iL line_ip_range.txt --open --ports 80,443,444,1443,1455,2000,2020,2052,2053,2082,2083,2086,2087,2095,2096,2222,3000,3003,3030,3300,3306,3333,4000,4040,4400,4440,4443,4444,4900,5000,5030,5050,5432,5500,5555,6000,6100,6666,7000,7007,7008,7700,7777,8000,8080,8090,8100,8180,8200,8300,8400,8443,8500,8600,8700,8800,8880,8888,8899,9000,9009,9040,9050,9080,9090,9100,9200,9300,9400,9500,9898,9900,9999,10443,27017 -oL masscan-res.txt && grep "open" masscan-res.txt | awk '{print $4 ":" $3}' >final_res.txt
        
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: masscan-res.txt
        path: masscan-res.txt

        
